apiVersion: v1
kind: Service
metadata:
  name: backend
spec:
  selector:
    app: backend
  ports:
    - port: 3000
      protocol: TCP
      targetPort: 3000
  type: ClusterIP

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  selector:
    matchLabels:
      app: backend
  replicas: 1
  template:
    metadata:
      labels:
        app: backend
      annotations:
        # image-list tells image-updater which registry/repo to watch
        argocd-image-updater.argoproj.io/image-list: backend=341641263178.dkr.ecr.ap-southeast-1.amazonaws.com/backend
        # update strategy (latest / semver / digest)
        argocd-image-updater.argoproj.io/backend.update-strategy: latest
    spec:
      containers:
        - name: backend
          image: 341641263178.dkr.ecr.ap-southeast-1.amazonaws.com/backend:1
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
          env:
            - name: HOST
              value: "0.0.0.0"
            - name: PORT
              value: "3000"