apiVersion: v1
kind: Service
metadata:
  name: frontend
spec:
  selector:
    app: frontend
  ports:
    - port: 3000
      protocol: TCP
      targetPort: 3000
  type: ClusterIP

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  selector:
    matchLabels:
      app: frontend
  replicas: 1
  template:
    metadata:
      labels:
        app: frontend
      annotations:
        # image-list tells image-updater which registry/repo to watch
        argocd-image-updater.argoproj.io/image-list: backend=341641263178.dkr.ecr.ap-southeast-1.amazonaws.com/frontend
        # update strategy (latest / semver / digest)
        argocd-image-updater.argoproj.io/frontend.update-strategy: latest
    spec:
      containers:
        - name: react-app
          image: 341641263178.dkr.ecr.ap-southeast-1.amazonaws.com/frontend:2
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
          env:
            # Critical: React dev server listens on all interfaces
            - name: HOST
              value: "0.0.0.0"
            - name: REACT_APP_API_URL
              value: "http://localhost:3001"