apiVersion: v1
kind: Service
metadata:
  name: mongo
  labels:
    name: mongo
spec:
  selector:
    name: mongo
  ports:
    - port: 27017
      protocol: TCP
      targetPort: 27017
  type: ClusterIP
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: mongo-config
data:
  MONGODB_INITDB_ROOT_USERNAME: "user"
---
apiVersion: v1
kind: Secret
metadata:
  name: mongo-secrets
type: Opaque
data:
  MONGODB_INITDB_ROOT_PASSWORD: cGFzc3dvcmQK
---
apiVersion: v1
kind: Pod
metadata:
  name: mongo-lite
  labels:
    app: mongo-lite
spec:
  terminationGracePeriodSeconds: 10
  containers:
  - name: mongo
    image: mongo:6.0
    ports:
      - containerPort: 27017
    envFrom:
      - configMapRef:
          name: mongo-config
      - secretRef:
          name: mongo-secrets
    volumeMounts:
      - name: mongo-data
        mountPath: /data/db
  volumes:
    - name: mongo-data
      emptyDir: {}